/* .btn-dark{
    background-color: black;
    color: white;
    border-radius: 5px;
    border: 0cm;
    font-weight: bold;
}
.Tag{
    margin-right: 30rem;
}
a :hover{
    color: #ffc107;
    
} */

/* form-control{
    width: 10%;
} */
.logo {
  width: 4rem;
  height: 2rem;
  margin-left: 4rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.new-navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  /* height: 60px; */
  padding: 5px;
  /* background-color: red; */
  background-color: rgb(34, 40, 49);
  position: absolute;
  top: 0;
  z-index: 2;
}
.fixed-nav {
  margin-left: 0;
  display: flex;
  flex-direction: row;
  width: 90%;
  border-radius: 20px;
  background-color: rgb(34, 40, 49);
  justify-content: space-between;
  text-align: center;
  transition: 1s all;
  padding: 0.5rem 1.5rem;
}
.fixed-nav ol {
  display: flex;
  list-style: none;
  margin: auto;
}
.fixed-nav ol li {
  margin: 0 0.4rem;
}
.fixed-nav ol li a {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 1px;
  /* padding: 5px 10px; */
  border-radius: 3px;
  font-weight: bold;
}

.fixed-nav ol li:hover a {
  background-color: rgb(36, 36, 36);
  color: white;
  text-decoration: none;
}

.fixed-nav .search_box {
  display: flex;
  margin: auto;
  height: 2rem;
  line-height: 2rem;
}
.fixed-nav .search_box input {
  border: none;
  outline: none;
  border-radius: 3px;
  background-color: white;
  height: 100%;
  padding: 0 10px;
  font-size: 20px;
  width: 400px;
  margin-right: 2rem;
}
.fixed-nav .search_box span {
  color: white;
  font-size: 20px;
  height: 100%;
  padding: 8px;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.fixed-nav .search_box span::after {
  height: 100%;
  width: 0%;
  content: "";
  background-color: rgb(36, 36, 36);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  transition: 0.3s, ease;
}
.fixed-nav .search_box span:hover::after {
  width: 100%;
}
