.App {
  /* background-color: blue; */
  color: white;
  font-family: sans-serif;
  background-image: url("images/bg.gif");
  background-repeat: no-repeat;
  /* background-image: url(https://giphy.com/gifs/pink-glow-turbulence-eJoZAwRN9OI5QjthIE); */
}


